<div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Welcome to <span>Green Dream</span></h2>
            <hr>
            <p>The right choice is right infront of you! You came on the proper place where your green vision will be realized with one of the highest quality landscaping and gardening services in London! Contact us to construct the adorable transformation of your favorite place where to reunify with your loved ones or business partners!</p>
            <p>Our team of expert landscapers is perfectly capable of turning your green ideas into dreamed reality! With our services listed below, we are happily waiting for your query to be answered as soon as possible!</p>
            <a href="#services" class="btn btn-custom btn-lg page-scroll">View All Services</a> </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="about-media"> <img src="img/landscaping.jpg" alt=" "> </div>
          <div class="about-desc">
            <h3>Landscaping</h3>
            <p>Landscaping defines as making your garden more attractive by adding incredible features such as woodworks, garden tiles, planting beds and more. Our company can make your green dream come true.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="about-media"> <img src="img/gardening.jpg" alt=""> </div>
          <div class="about-desc">
            <h3>Gardening</h3>
            <p>You have an intention for your garden to gain a modern look or being tidied up? Contact Green Dream's team of experts to save a lot of time and effort. The improvement and future of your lovely yard will be in safe hands!</p>
          </div>
        </div>
      </div>
    </div>
  </div>