<div id="contact" class="text-center">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Us</h2>
        <hr>
        <p>We are glad to get in touch with our potential customers</p>
      </div>
      <div class="col-md-10 col-md-offset-1 contact-info">
        <div class="col-md-6">
          <h3>Working Hours</h3>
          <hr>
          <div class="contact-item">
            <p>Monday-Saturday: 09:00 - 17:00</p>
            <p>Sunday: CLOSED</p>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Contact Info</h3>
          <hr>
          <div class="contact-item">
            <p>Phone: +44 779 675 3055</p>
            <p>Email: office@greendream.co.uk</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>Leave us a message</h3>
        <form action="/" method="POST" name="sentMessage" id="contactForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Place give us your address and the name of the service of your choice" ></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <input type="file"
                    class="form-control"
                    id="photos"
                    name="photos"
                    placeholder="Attach Photos" multiple>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </div>