<div id="portfolio">
  <div class="container">
     <div class="section-title text-center center">
        <h2>Project Gallery</h2>
        <hr>
        <p>Mission Green Dream London in Progress</p>
     </div>
     <div class="categories">
        <ul class="cat">
           <li>
              <ol class="type">
                 <li><a href="#" data-filter="*" class="active">All</a></li>
                 <li><a href="#" data-filter=".lawn">Lawn Care</a></li>
                 <li><a href="#" data-filter=".garden">Garden Care</a></li>
                 <li><a href="#" data-filter=".planting">Commercial Gardening</a></li>
              </ol>
           </li>
        </ul>
        <div class="clearfix"></div>
     </div>
     <div class="row">
        <div class="portfolio-items">
           <div class="col-sm-6 col-md-4 lawn">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/4.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery1">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/4.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/5.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery1">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/5.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 lawn">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/6.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery1">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/6.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 lawn">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/7.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery1">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/7.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/8.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery1">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/8.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 garden">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/9.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/9.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 garden">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/10.jpg" title="Gardening Tiles" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Gardening Tiles</h4>
                       </div>
                       <img src="img/portfolio/10.jpg" class="img-responsive" alt="Gardening Tiles"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 lawn">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/11.jpg" title="Gardening Tiles" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Gardening Tiles</h4>
                       </div>
                       <img src="img/portfolio/11.jpg" class="img-responsive" alt="Gardening Tiles"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/12.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/12.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/13.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/13.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/14.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/14.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/15.jpg" title="Lawn Turfing" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Lawn Turfing</h4>
                       </div>
                       <img src="img/portfolio/15.jpg" class="img-responsive" alt="Lawn Turfing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/16.jpg" title="Decking" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/16.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/17.jpg" title="Decking" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/17.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/18.jpg" title="Decking" data-lightbox-gallery="gallery3">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/18.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/19.jpg" title="Decking" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/19.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/20.jpg" title="Decking" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/20.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/21.jpg" title="Decking" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/21.jpg" class="img-responsive" alt="Decking"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/22.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/22.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/23.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Decking</h4>
                       </div>
                       <img src="img/portfolio/23.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/24.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Jet Washing</h4>
                       </div>
                       <img src="img/portfolio/24.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/25.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Jet Washing</h4>
                       </div>
                       <img src="img/portfolio/25.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/26.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Jet Washing</h4>
                       </div>
                       <img src="img/portfolio/26.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-sm-6 col-md-4 planting">
              <div class="portfolio-item">
                 <div class="hover-bg">
                    <a href="img/portfolio/27.jpg" title="Jet Washing" data-lightbox-gallery="gallery2">
                       <div class="hover-text">
                          <h4>Jet Washing</h4>
                       </div>
                       <img src="img/portfolio/27.jpg" class="img-responsive" alt="Jet Washing"> 
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
