<div id="services">
    <div class="section-title text-center">
      <h2>Our Services</h2>
      <hr />
      <p>The services we provide in order to make your green dream come true</p>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/lawn-turfing.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Lawn Turfing</h3>
          <p class="service-paragraph">
            The time for refreshing your garden has come!
            Green Dream's team of experts use the highest quality of turf and topsoil in order to transform your backyard into slice of paradise! What’s more?
            Our proficient gardeners are perfectly capable of artificial grass installations to fulfil your green desires!
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/decking.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Decking/Wood Works</h3>
          <p class="service-paragraph">
            Decking is one of the greatest ideas to complete the fascinating look of your home garden or sitting areas for a business discussion.
            Green Dream London provides a range of impeccable quality decking installations including both hard and softwood decking boards.
            Our decking offers a comfy and natural feeling to any household premises or business establishments!
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/fencing.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Fence Repairing/Fencing</h3>
          <p class="service-paragraph">
            Complete the peace and privacy in your garden with our fence repairing and installation services.
            Fencing is a significant part of having the stylish finished look of your home, so why don't you contact Green Dream's team to achieve that for you?
            We are using large variety of fence panels such as close board panels, feather edge boards and gravel boards and we will choose the appropriate ones to secure the privacy, comfort and look of your lovely home.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/planting-beds.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Planting Beds</h3>
          <p class="service-paragraph">
            Have you ever had the idea about something that could change both your lifestyle and garden design in a positive direction?
            Green Dream's planting beds is the answer to the question. Our planting beds provide the natural environment feeling while walking through your dream garden.
            They can be used for both home vegetable growing, or flower planting and we will build them high enough to be easily accessible by our customers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="services">
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/lawn-care.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Lawn Care and Garden Clearance</h3>
          <p class="service-paragraph">
            Our team of professional gardeners has the time, knowledge and experience to maintain the charming look of your lawn and garden.
            We provide a range of gardening services as lawn mowing, hedge trimming, weed control and
            FULL garden clearance in order to transform an overgrown backyard into a unique place where you can spend time with your loved ones.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/driveways.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Driveways and Patios</h3>
          <p class="service-paragraph">
            Good looking, successful driveways and patios are result of well-planned project management and good communication between the designer, contractor and customer.
            The better your patio or driveway looks, the larger impact it has on your garden or home. Green Dream' s team of experts is open to your requirements, preferences and ideas.
            Call or email us now for a free quote in a convenient time for you.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/jet-washing.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Jet Washing</h3>
          <p class="service-paragraph">
            High-pressure washing for both domestic and commercial areas with Green Dream gives your place the opportunity to gain the cleanest look ever.
            Astonishingly Effective cleaning method to remove the unwanted weeds, mud, grime and moss from your driveway, patio or decking area.
            A fully equipped specialist will come to your property in a convenient day and time for you.
          </p>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="service-media">
          <img src="img/services/waste-removal.jpg" alt=" " />
        </div>
        <div class="service-desc">
          <h3>Waste Removal</h3>
          <p class="service-paragraph">
            You do not have the time and ability to recycle your garden waste after we did a full clearance of your backyard?
            We Do!
            Help us make London greener and less polluted for the next generations!
          </p>
        </div>
      </div>
    </div>
  </div>