<div id="testimonials" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="section-title">
          <h2>Our Customers Said</h2>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div id="testimonial" class="owl-carousel owl-theme">
              <div class="item">
                <p>"We were pleasant to see what did Green Dream do in the garden - a total transformation. We would highly recommend."</p>
                <p>Jaimie Taylor</p>
              </div>
              <div class="item">
                <p>"Green Dream did a professional job. Polite, tidy and neat in appeareance and working routine."</p>
                <p>Michael Evans</p>
              </div>
              <div class="item">
                <p>"Green Dream London team - an excellent professionals, truly skillful and generous team."</p>
                <p>John Green</p>
              </div>
              <div class="item">
                <p>"Really helpful with ideas and suggestions on how to make our Green Dream to come true."</p>
                <p>Mariam Walker</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>